@import url(config_global.css);
@import url(checkbox.css);

body {
    background-color: var(--color-primary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-panel {
    padding: 25px 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.calculator,
.calculator-panel {
    border-radius: 40px;
}

.calculator {
    background-color: var(--color-primary);
    border: 6px solid var(--color-tertiary);
    color: var(--color-quartetary);

    font-weight: bolder;
    height: 525px;
    width: 300px;
}

.calculator-panel, 
.panel-expression {
    background-color: var(--color-primary);
}

/* Parte superior da calculadora, o painel */

.calculator-panel {
    box-shadow: 0px 9px 9px -5px rgba(154, 151, 184, 0.5); 
    height: min(35%, 175px);
}

.panel-expression {
    color: var(--color-quartetary);
    text-align: right;
    font-size: 22px;
    font-weight: bolder;
    height: 25px;
    width: 100%;
}

.panel-resultado {
    width: 100%;
    font-size: 44px;
    text-align: right;
}

.panel-resultado::after {
    background-color: var(--color-secondary);
    content: '';
    display: block;

    height: 5px;
    width: 135px;

    border-radius: 100px;
    margin: 10px auto 7.5px;
}

/* Parte infelior da calculadora, os botões  */

.calculator-buttons {
    border-radius: 0px 0 40px 40px;
    height: 65%;
    display: grid;
    grid-template: 50px 50px 50px 50px 50px / 50px 50px 50px 50px;
    place-content: center;
    grid-gap: 10px;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . equals equals";
}

.calculator-buttons *::selection {
    background-color: transparent;
}

.button {
    font-size: 1.75rem;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    transition: background var(--temp-animation);
}

.button-function {
    background-color: var(--color-tertiary);
    color: var(--color-primary);
}

.button-function:hover {
    background-color: transparent;
    border: 2px solid var(--color-tertiary);
    color: var(--color-tertiary);
}

.button-number {
    background-color: var(--color-secondary);
    color: var(--color-quartetary);
}

.button-number:hover {
    background-color: transparent;
    border: 2px solid var(--color-secondary);
}

.button-equals {
    grid-area: equals;
}